<a href="https://colab.research.google.com/github/bandasunilkumar/bandasunilkumar/blob/main/Assignments_sk.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**ASSIGNMENT QUESTIONS:-**

1) write a programme to find a given number is even or odd ?

In [ ]:
# 1)

 Number= int(input("Enter the number:"))

 if Number%2==0:
    print (f"{2} is Even")
 else:
    print (f"{5} is odd")

Enter the number:75
5 is odd

In [ ]:
number = int(input("enter the number: "))

if number %3 == 0:
  print ("it is odd number")
else:
  print ("it is even number")

enter the number: 98
it is even number

**2) write a programme to find given number is prime or not ?**

In [ ]:
#2) ans
num = int(input("enter the number:"))

if num == 1:
  print ("it is not a prime number")

if num > 1:
  for n in range(2,number):
    if num %2==0:
      print ("num,it is not a prime number")
      break
    else:
      print ("it is a prime number")

enter the number:6
num,it is not a prime number

In [ ]:
num = int(input("enter the number:"))

if num == 1:
  print ("it is not a prime number")

if num > 1:
   for n in range(2, num):
    if num %2==0:
      print ("num,it is not a prime number")
      break
    else:
      print ("it is a prime number")

enter the number:3
it is a prime number

 3) **Write** a program to find a big number among two numbers?

In [ ]:
#3) ans

a = int(input("enter the number: a "))
b = int(input("enter the number: b "))

if a>b:
  print("a is the big number")

else:
  print("b is the big number")

enter the number: a 87
enter the number: b 55
a is the big number

 4) **Write** a program to find a small number among two numbers?

In [ ]:
#4) ans

a = int(input("enter the value of a:"))
b = int(input("enter the value of b:"))

if a>b:
  print("a is a big number")
else:
  print("a is small number")

enter the value of a:9
enter the value of b:45
a is small number

 6) **Write** a program to find a small number among three numbers?

In [ ]:
#6) ans

a = int(input("enter the value of a:"))
b = int(input("enter the value of b:"))
c = int(input("enter the value of c:"))

if a<b and a<c:
  print("a is a small number than b,c")
if b<c and b<a:
  print("b is a small number than c,a")
if c<a and c<b:
  print("c is small number")

enter the value of a:12
enter the value of b:14
enter the value of c:9
c is small number

 5) **Write** a program to find a big number among three numbers?

In [ ]:
#5) ans

a = int(input("enter the value of a:"))
b = int(input("enter the value of b:"))
c = int(input("enter the value of c:"))

if a>b and a>c:
  print("a is a big number than b,c")
if b>c and b>a:
  print("b is a big number than c,a")
if c>a and c>b:
  print("c is a big number than a,b")

enter the value of a:12
enter the value of b:54
enter the value of c:9
b is a big number than c,a

**7) write a prog to find the sum of digits of given number ?**

In [ ]:
# answer to question for 7

a = int(input("enter the number : "))
sum_of_digits =0

while a != 0:
  last_digit = a % 8
  sum_of_digits = sum_of_digits + last_digit
  a = a // 8

print("sum of digits of a number is :", sum_of_digits)

enter the number : 223
sum of digits of a number is : 13

**8) write a program to find product of digits of a given number ?**

In [ ]:
# 8) ans

a = int(input("enter the number: "))
prod=2

while a != 0:
  last_digit = a*4
  prod = prod*last_digit
  a = a // 4


print("product of digits of given number is:", prod)

enter the number: 8753
product of digits of given number is: 25396818513227677696

**9)  write a prog to reverse the given number ?**

In [ ]:
# 9) ans

num = 9701281394

reversed_num = 0

while num != 0:
  digit = num % 10
  reversed_num = reversed_num * 10 + digit
  num //= 10

print("Reversed Number: " + str(reversed_num))

Reversed Number: 4931821079

**10) write a prog to find the given number polindrome or not ?**

In [ ]:
# 10) ans

number = int(input("enter the number:"))
temp = number
reverse = 0

while (number > 0):
  dig = number % 10
  reverse = reverse * 10 + dig
  number = number // 10

print("The reverse number is: ", reverse)

if temp == reverse:
  print("The number is polindrome")

else:
  print("The number is not polindrome")

enter the number:970128
The reverse number is:  821079
The number is not polindrome

In [ ]:
# Example number 2 (polindrome)

num = int(input("enter the number:"))
temp = num
reverse = 0

while ( num > 0):
  dig = num % 10
  reverse = reverse * 10 + dig
  num = num // 10

print("The reverse number is: ", reverse)

if temp == reverse:
  print(" The given number is Polindrome")

else:
  print(" The given number is not Polindrome")

enter the number:121
The reverse number is:  121
 The given number is Polindrome

**11) Write a prog to find the given number is an ARMSTRONG number or not?**

In [ ]:
# 11) ans

num = int(input("enter the number:"))
sum = 0
temp = num

while temp > 0:
  digit = temp % 10
  sum += digit ** 4
  temp //= 10

if num == sum:
  print(num,"is an armstrong number")

else:
  print(num,"is not an armstrong number")

enter the number:9474
9474 is an armstrong number

**12) write the prog to find the year is leap year or not ?**

In [ ]:
#12) ans

start_year = int(input("enter the year:"))
total_years = int(input("enter the total number of years"))

for year in range(start_year,start_year + total_years):

  if year % 4 == 0:
    print("{year} is a leap year")

  else:
    print("{year} is not a leap year")

enter the year:1990
enter the total number of years10
{year} is not a leap year
{year} is not a leap year
{year} is a leap year
{year} is not a leap year
{year} is not a leap year
{year} is not a leap year
{year} is a leap year
{year} is not a leap year
{year} is not a leap year
{year} is not a leap year

**13) write a prog to print the below pattern ?**

*
**
***
****
***
**
*

In [ ]:
#rows = int(input("enter the number of rows:"))
rows = 5

for i in range (0, 5):
  for j in range (0, i+1):
    print(j, end= ' ')

  print(' ')

0
0 1
0 1 2
0 1 2 3
0 1 2 3 4

In [ ]:
# 13) ans

rows = 5
for i in range (0, rows):
  for j in range (0, i + 1):
    print ("*", end = ' ')

  print(' ')

*
* *
* * *
* * * *
* * * * *

**14) Write a prog to print the following pattern ?**

*****
****
***
**
*

In [ ]:
# 14) ans

rows = 6

for i in range(rows, 0, -1):
  for j in range(0, i-1):
    print("*", end=' ')

  print(' ')

* * * * *
* * * *
* * *
* *
*

**15) Write a prog to print the following pattern ?**

1
22
333
4444
55555

In [ ]:
# 15) ans

rows = 6
for i in range (1,6):
  for j in range (i):
    print(i, end='')
  print(' ')

1
22
333
4444
55555

**16) Write a prog to print the pattern given below ?**

1
12
123
1234
12345

In [ ]:
# 16) ans

rows = int(input("enter the number of rows:"))

for i in range (1, rows+1):
  for j in range (1, i+1):
    print (j, end=' ')
  print()

enter the number of rows:5
1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

**17) write a prog to print the below given pattern ?**
i)
55555
4444
333
22
1
ii)
12345
1234
123
12
1

In [ ]:
# 17) ans
# i)

rows = int(input("enter the number of rows:"))
for i in range (rows, 0, -1):
  for j in range(i):
    print(i, end='')
  print('')

enter the number of rows:5
55555
4444
333
22
1

In [ ]:
# ii)

rows = int(input("Enter the number of rows: "))
for i in range(rows,0, -1):
    for j in range(1, i+1):
        print(j, end=" ")
    print()

Enter the number of rows: 5
1 2 3 4 5
1 2 3 4
1 2 3
1 2
1

**18) Write a prog to print first 100 even numbers of 1000 ?**

In [ ]:
# 18) ans

a = int(input("enter the first number: "))
b = int(input("enter the last number: "))

for num in range (a, b+1):
  if num % 2 == 0:
    print( num, end=" ")

enter the first number: 1
enter the last number: 1000
2 4 6 8 10 12 14 16 18 20 22 24 26 28 30 32 34 36 38 40 42 44 46 48 50 52 54 56 58 60 62 64 66 68 70 72 74 76 78 80 82 84 86 88 90 92 94 96 98 100 102 104 106 108 110 112 114 116 118 120 122 124 126 128 130 132 134 136 138 140 142 144 146 148 150 152 154 156 158 160 162 164 166 168 170 172 174 176 178 180 182 184 186 188 190 192 194 196 198 200 202 204 206 208 210 212 214 216 218 220 222 224 226 228 230 232 234 236 238 240 242 244 246 248 250 252 254 256 258 260 262 264 266 268 270 272 274 276 278 280 282 284 286 288 290 292 294 296 298 300 302 304 306 308 310 312 314 316 318 320 322 324 326 328 330 332 334 336 338 340 342 344 346 348 350 352 354 356 358 360 362 364 366 368 370 372 374 376 378 380 382 384 386 388 390 392 394 396 398 400 402 404 406 408 410 412 414 416 418 420 422 424 426 428 430 432 434 436 438 440 442 444 446 448 450 452 454 456 458 460 462 464 466 468 470 472 474 476 478 480 482 484 486 488 490 492 494 496 498 500 502 504 506 508 510 512 514 516 518 520 522 524 526 528 530 532 534 536 538 540 542 544 546 548 550 552 554 556 558 560 562 564 566 568 570 572 574 576 578 580 582 584 586 588 590 592 594 596 598 600 602 604 606 608 610 612 614 616 618 620 622 624 626 628 630 632 634 636 638 640 642 644 646 648 650 652 654 656 658 660 662 664 666 668 670 672 674 676 678 680 682 684 686 688 690 692 694 696 698 700 702 704 706 708 710 712 714 716 718 720 722 724 726 728 730 732 734 736 738 740 742 744 746 748 750 752 754 756 758 760 762 764 766 768 770 772 774 776 778 780 782 784 786 788 790 792 794 796 798 800 802 804 806 808 810 812 814 816 818 820 822 824 826 828 830 832 834 836 838 840 842 844 846 848 850 852 854 856 858 860 862 864 866 868 870 872 874 876 878 880 882 884 886 888 890 892 894 896 898 900 902 904 906 908 910 912 914 916 918 920 922 924 926 928 930 932 934 936 938 940 942 944 946 948 950 952 954 956 958 960 962 964 966 968 970 972 974 976 978 980 982 984 986 988 990 992 994 996 998 1000

**19) write a prog to print first 100 prime numbers of 1000 ?**

In [ ]:
# 19) ans

num = 1000

for num in range (1,1001):
  for i in range (2, num):
    if num % i == 0:
      break
  else:
    print (num,"is a prime number")

1 is a prime number
2 is a prime number
3 is a prime number
5 is a prime number
7 is a prime number
11 is a prime number
13 is a prime number
17 is a prime number
19 is a prime number
23 is a prime number
29 is a prime number
31 is a prime number
37 is a prime number
41 is a prime number
43 is a prime number
47 is a prime number
53 is a prime number
59 is a prime number
61 is a prime number
67 is a prime number
71 is a prime number
73 is a prime number
79 is a prime number
83 is a prime number
89 is a prime number
97 is a prime number
101 is a prime number
103 is a prime number
107 is a prime number
109 is a prime number
113 is a prime number
127 is a prime number
131 is a prime number
137 is a prime number
139 is a prime number
149 is a prime number
151 is a prime number
157 is a prime number
163 is a prime number
167 is a prime number
173 is a prime number
179 is a prime number
181 is a prime number
191 is a prime number
193 is a prime number
197 is a prime number
199 is a prime number
211 is a prime number
223 is a prime number
227 is a prime number
229 is a prime number
233 is a prime number
239 is a prime number
241 is a prime number
251 is a prime number
257 is a prime number
263 is a prime number
269 is a prime number
271 is a prime number
277 is a prime number
281 is a prime number
283 is a prime number
293 is a prime number
307 is a prime number
311 is a prime number
313 is a prime number
317 is a prime number
331 is a prime number
337 is a prime number
347 is a prime number
349 is a prime number
353 is a prime number
359 is a prime number
367 is a prime number
373 is a prime number
379 is a prime number
383 is a prime number
389 is a prime number
397 is a prime number
401 is a prime number
409 is a prime number
419 is a prime number
421 is a prime number
431 is a prime number
433 is a prime number
439 is a prime number
443 is a prime number
449 is a prime number
457 is a prime number
461 is a prime number
463 is a prime number
467 is a prime number
479 is a prime number
487 is a prime number
491 is a prime number
499 is a prime number
503 is a prime number
509 is a prime number
521 is a prime number
523 is a prime number
541 is a prime number
547 is a prime number
557 is a prime number
563 is a prime number
569 is a prime number
571 is a prime number
577 is a prime number
587 is a prime number
593 is a prime number
599 is a prime number
601 is a prime number
607 is a prime number
613 is a prime number
617 is a prime number
619 is a prime number
631 is a prime number
641 is a prime number
643 is a prime number
647 is a prime number
653 is a prime number
659 is a prime number
661 is a prime number
673 is a prime number
677 is a prime number
683 is a prime number
691 is a prime number
701 is a prime number
709 is a prime number
719 is a prime number
727 is a prime number
733 is a prime number
739 is a prime number
743 is a prime number
751 is a prime number
757 is a prime number
761 is a prime number
769 is a prime number
773 is a prime number
787 is a prime number
797 is a prime number
809 is a prime number
811 is a prime number
821 is a prime number
823 is a prime number
827 is a prime number
829 is a prime number
839 is a prime number
853 is a prime number
857 is a prime number
859 is a prime number
863 is a prime number
877 is a prime number
881 is a prime number
883 is a prime number
887 is a prime number
907 is a prime number
911 is a prime number
919 is a prime number
929 is a prime number
937 is a prime number
941 is a prime number
947 is a prime number
953 is a prime number
967 is a prime number
971 is a prime number
977 is a prime number
983 is a prime number
991 is a prime number
997 is a prime number

**21)15) write a prog to print multiplication table of 10? **

In [ ]:
n = int(input("enter the multiplication number:"))

for i in range (1,11):
  c= n*i
  print(n,"*",i,"=",c)

enter the multiplication number:10
10 * 1 = 10
10 * 2 = 20
10 * 3 = 30
10 * 4 = 40
10 * 5 = 50
10 * 6 = 60
10 * 7 = 70
10 * 8 = 80
10 * 9 = 90
10 * 10 = 100

**21) write a prog to calculate the gross salary of an employee ?**

In [ ]:
#21) ans

def cal(bs,da,hra):
  gs = bs + da + hra
  return gs

bs = int(input("enter the basic salary :"))

da = (bs*40)/100
hra = (bs*20)/100

print("Gross Salary is: ",cal(bs,da,hra))

enter the basic salary :50000
Gross Salary is:  80000.0

In [ ]:
# example 2:

def cal(bs,pf,hra,da):
  gs = bs+pf+hra+da
  return gs

bs = int(input("enter the salary of employee recieved take home:"))

pf = (bs*10)/100
hra = (bs*20)/100
da = (bs*40)/100

print("Gross Salary of an Employee is:", cal(bs,da,hra,pf))

enter the salary of employee recieved take home:13300
Gross Salary of an Employee is: 22610.0

**22) Write a prog to find the percentage of a student from 6 subjects ?**

In [ ]:
print(" percentage of the student in 6 subjects")

s1 = int(input("enter the marks of s1:"))
s2 = int(input("enter the marks of s2:"))
s3 = int(input("enter the marks of s3:"))
s4 = int(input("enter the marks of s4:"))
s5 = int(input("enter the marks of s5:"))
s6 = int(input("enter the marks of s6:"))

total = (s1+s2+s3+s4+s5+s6)
percentage = (total/600)*100

print("percentage of marks=",percentage,"%")

 percentage of the student in 6 subjects
enter the marks of s1:87
enter the marks of s2:48
enter the marks of s3:86
enter the marks of s4:69
enter the marks of s5:73
enter the marks of s6:65
percentage of marks= 71.33333333333334 %

**23) Write a prog to swap two numbers without using third variable ?**

In [ ]:
# 23) ans

a = int(input("enter the number: "))
b = int(input("enter the number: "))

a = b
b = a

print("After swapping a value is: ",b)
print("After swapping b value is: ",a)

enter the number: 6
enter the number: 8
After swapping a value is:  8
After swapping b value is:  8

**24) write a prog to swap two numbers ?**

In [ ]:
# 24) Python program to swap two variables

x = input('Enter value of x: ')
y = input('Enter value of y: ')

temp = x
x = y
y = temp

print('The value of x after swapping: {}'.format(x))
print('The value of y after swapping: {}'.format(y))

Enter value of x: 9
Enter value of y: 16
The value of x after swapping: 16
The value of y after swapping: 9

**25) write a prog to find the given number is perfect or not ?**

In [ ]:
# 25) ans

a = int(input(" enter the value of a: "))
 i = 0

**30) Write a prog to print below pattern ?**

*
**
***
****
*****
****
***
**
*

In [ ]:
rows = 5
for i in range(0, rows):
    for j in range(0,i+1):
        print("*", end=' ')
    print(" ")
for i in range(rows, 0, -1):
    for j in range(0, i-1):
        print("*", end=' ')
    print(" ")

*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*